.cyk_userinterface_datatable .ui-menubar{
	background: none !important;
	padding: 0px !important;
    margin: 0px !important;
    border : none !important;
    width: auto !important;
    float: left !important;
}

.cyk_userinterface_datatable .ui-toolbar{
	background: none !important;
	padding: 0px !important;
    margin: 0px !important;
    border : none !important;
}

.cyk_userinterface_datatable .ui-toolbar-group-left{
	width: 80% !important;
}

/*.cyk_userinterface_datatable .ui-toolbar-group-right{
	width: 20% !important;
}*/

.cyk_userinterface_file_thumbnail{
	padding: 0px !important;
    margin: 0px !important;
	/*border: 1px solid red !important;*/
	
}

.cyk_userinterface_datatable .ui-datatable-header{
	padding: 0px !important;
    margin: 0px !important;
}

.cyk_userinterface_datatable .cyk_userinterface_main_menu{
	width: 65px !important;
}
.cyk_userinterface_datatable td.cyk_userinterface_main_menu{
	padding: 0px !important;
    margin: 0px !important;
}

.cyk_userinterface_datatable .cyk_userinterface___ordernumber__{
	width: 15px !important;
}
.cyk_userinterface_datatable td.cyk_userinterface___ordernumber__{
	
}