.cyk_userinterface_form_master_container {
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
	
}

.cyk_userinterface_form_master_container .ui-panel-titlebar{
	
}

.cyk_userinterface_form_master_container_header{
	
}

.cyk_userinterface_form_master_container_body div{
	
}