.cyk_userinterface_form_master_container {
	display: inline-block;
	min-width:60% ;
	margin-left: 5px;
	margin-top: 5px;
	
}

.cyk_userinterface_form_master_container .ui-panel-titlebar{
	
}

.cyk_userinterface_form_master_container_header{
	
}

.cyk_userinterface_form_master_container input {
	width: 100% !important;
}

.cyk_userinterface_form_master_container .ui-selectonemenu {
	background: yellow !important;
	width: 96% !important;
}

.cyk_userinterface_loginpage_TO_DO_ {
	/* Value must be set like followings in other to make centering work */
	display: block;
	min-width:30%;
	
	/* we need it to be set for auto center*/
	width:30% ;
	margin:auto;
}

.cyk_userinterface_loginpage .pe-dynaform-grid{
	
	
}	